body{
    background-color: red;
    font-family:}
    #par2{
        font-size: large;}
        .vermelho{color:red}
        .negrito{font-weight: bold;}
    span.vermelho{background-color: black;}
    
